#header-slogan-modal {
	background: #039dd0;
}

#header-slogan-modal .bg {
	background-image: url('../images/bg-modal-error.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.29;
}
#desc-full-text-btn-halfbg .bg {
	background-image: url('../images/bg-pattern-1.png');
	background-size: auto;
	-webkit-background-size: auto;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
#desc-full-text-btn-halfbg{
	background: #ffffff;
}

#desc-full-text-btn-halfbg .half-container-right {
	background-image: url('../images/bg-pattern-1.png');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.03;
}#chart-horiz-chart-text {
    background: linear-gradient(135deg, #00c0ff, #005eff);
}

#chart-horiz-chart-text .bg {
    background-image: url('../images/bg-pattern-1.png');
    background-size: 300px auto;
    -webkit-background-size: 300px auto;
    background-repeat: repeat;
    -webkit-background-repeat: repeat;
    background-position: center center;
    opacity: 0.1;
}
#counter-fluid-6col {
	background: #00b3e3;
}#clients-4col-3row-text {
	background: #ffffff;
}#footer-list-banner {
	background: #222222;
}

